/* Set basic font and remove default styling */
* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/* Remove bullet points from links */
ul {
    list-style: none;
}

/* Set containers to use flexbox */
.container,
.navbar,
.nav-links ul,
.hero-container {
    display: flex;
}

.container,
.section-one {
    flex-direction: column;
}

/* Add padding to section */
.section-one {
    padding: 10px 450px;
    background-color: #1F2937;
    padding-bottom: 100px;
}

/* Add styling to left hero text */
.hero-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

/* Hero secondary text and header link text */
.hero-left p,
.nav-links ul {
    font-size: 18px;
    color: #E5E7EB;
}

/* Header logo text */
.header-logo h3 {
    font-size: 24px;
    color: #F9FAF8;
}

/* Style button */
button {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 6px 30px;
    color: #E5E7EB;
    font-weight: bold;
    border-style: solid;
    border-color: #3882F6;
    margin-top: 10px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.hero-container {
    justify-content: space-between;
}

ul {
    gap: 10px;
}

.hero-right {
    padding: 100px 100px;
    background-color: #E5E7EB;
}

.hero-left {
    flex-basis: 500px;
    margin-right: 50px;
}

/* Section two styling below */
.section-two-header h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 25px;
    margin-bottom: 25px;
}

.section-two {
    margin-bottom: 50px;
}

.icon-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px
}

.icon {
    height: 150px;
    width: 150px;
    border: #3882F6 3px solid;
    border-radius: 10px;
}

.icon-container {
    flex-basis: 100px;
}

.icon-description {
    text-align: center;
}

/* Section three styling below */
.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 50px 550px;
    
}

.section-three p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.section-three span {
    align-self: flex-end;
    margin-right: 50px;
    font-weight: bold;
}

/* Section four styling below */
.call-container {
    background-color: #3882F6;
    margin: 50px 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    border-radius: 5px;
}

.call-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.call-container button {
    border-color: white;
}

.call-group h4 {
    font-size: 18px;
    color: #F9FAF8;
}

.call-group span {
    color: #E5E7EB;
}

/* Styling for section 5 footer below */
.section-five {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 25px 0;
}